.container {
    /*
    padding-top: 5%;
    padding-bottom: 5%;
    */
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 5px solid bisque;
}

.survey-navbar {
    text-align: center;
    background-color: navajowhite;

    font-weight: bold;
    
}

.birthday {
    font-size: large;
    font-weight: bold;
}

.submit-button {
    text-align: center;
    
}

.survey-title {
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    font-size: xx-large;
}

p {
    font-size: 1000px;
}